body {
    font-family: Arial, sans-serif;
    background-color: #fff1e5; /* Off-white color similar to Financial Times */
    margin: 0;
    padding: 0;
}

#map-container {
    width: 100%;
    height: 100vh;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 300px;
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #0f5499;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0c4277;
}